.low {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventContainer {
    width: 100%;
    justify-content: center;
}

.subBtn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(59, 128, 255);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}